In [86]:
import pyspark
import pandas as pd

from pyspark.sql import SparkSession

In [87]:
ds= pd.read_csv("Jupyter-book.csv")
ds

  Name;Age;Experience;Salary
0           Betul1;1;6;23232
1           Betul2;2;2;23232
2             Betul3;3;4;443
3           Betul4;4;1;54534
4             Betul5;5;3;222
5                Betul6;6;4;
6                 ;7;3;23232
7                  ;;12;4545
8                 Betul9;;1;
9           Betul10;9;2;3232

In [88]:
spark= SparkSession.builder.appName("Practice").getOrCreate()

In [89]:
spark

### Read the dataset

In [90]:
df_pyspark=spark.read.csv("Jupyter-book.csv", sep=";", header=True, inferSchema=True)

In [91]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Betul1|   1|         6| 23232|
| Betul2|   2|         2| 23232|
| Betul3|   3|         4|   443|
| Betul4|   4|         1| 54534|
| Betul5|   5|         3|   222|
| Betul6|   6|         4|  NULL|
|   NULL|   7|         3| 23232|
|   NULL|NULL|        12|  4545|
| Betul9|NULL|         1|  NULL|
|Betul10|   9|         2|  3232|
+-------+----+----------+------+

In [92]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [93]:
df_pyspark.head(3)

[Row(Name='Betul1', Age=1, Experience=6, Salary=23232),
 Row(Name='Betul2', Age=2, Experience=2, Salary=23232),
 Row(Name='Betul3', Age=3, Experience=4, Salary=443)]

In [94]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [95]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [96]:
df_pyspark.select("Name").show()

+-------+
|   Name|
+-------+
| Betul1|
| Betul2|
| Betul3|
| Betul4|
| Betul5|
| Betul6|
|   NULL|
|   NULL|
| Betul9|
|Betul10|
+-------+

In [97]:
df_pyspark.select(["Name", "Age"])

DataFrame[Name: string, Age: int]

In [98]:
df_pyspark["Name"]

Column<'Name'>

In [99]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [100]:
df_pyspark.describe().show()

+-------+------+-----------------+-----------------+----------------+
|summary|  Name|              Age|       Experience|          Salary|
+-------+------+-----------------+-----------------+----------------+
|  count|     8|                8|               10|               8|
|   mean|  NULL|            4.625|              3.8|         16584.0|
| stddev|  NULL|2.669269563007828|3.259175083088084|18609.7154426698|
|    min|Betul1|                1|                1|             222|
|    max|Betul9|                9|               12|           54534|
+-------+------+-----------------+-----------------+----------------+

### Adding columns to dataframe

In [101]:
df_pyspark=df_pyspark.withColumn("Experience after 2 years", df_pyspark["Experience"]+2)

In [102]:
df_pyspark.show()

+-------+----+----------+------+------------------------+
|   Name| Age|Experience|Salary|Experience after 2 years|
+-------+----+----------+------+------------------------+
| Betul1|   1|         6| 23232|                       8|
| Betul2|   2|         2| 23232|                       4|
| Betul3|   3|         4|   443|                       6|
| Betul4|   4|         1| 54534|                       3|
| Betul5|   5|         3|   222|                       5|
| Betul6|   6|         4|  NULL|                       6|
|   NULL|   7|         3| 23232|                       5|
|   NULL|NULL|        12|  4545|                      14|
| Betul9|NULL|         1|  NULL|                       3|
|Betul10|   9|         2|  3232|                       4|
+-------+----+----------+------+------------------------+

### Drop columns

In [103]:
df_pyspark= df_pyspark.drop("Experience after 2 years")

In [104]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Betul1|   1|         6| 23232|
| Betul2|   2|         2| 23232|
| Betul3|   3|         4|   443|
| Betul4|   4|         1| 54534|
| Betul5|   5|         3|   222|
| Betul6|   6|         4|  NULL|
|   NULL|   7|         3| 23232|
|   NULL|NULL|        12|  4545|
| Betul9|NULL|         1|  NULL|
|Betul10|   9|         2|  3232|
+-------+----+----------+------+

### Rename columns

In [105]:
df_pyspark.withColumnRenamed("Name", "New Name").show()

+--------+----+----------+------+
|New Name| Age|Experience|Salary|
+--------+----+----------+------+
|  Betul1|   1|         6| 23232|
|  Betul2|   2|         2| 23232|
|  Betul3|   3|         4|   443|
|  Betul4|   4|         1| 54534|
|  Betul5|   5|         3|   222|
|  Betul6|   6|         4|  NULL|
|    NULL|   7|         3| 23232|
|    NULL|NULL|        12|  4545|
|  Betul9|NULL|         1|  NULL|
| Betul10|   9|         2|  3232|
+--------+----+----------+------+

In [106]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Betul1|  1|         6| 23232|
| Betul2|  2|         2| 23232|
| Betul3|  3|         4|   443|
| Betul4|  4|         1| 54534|
| Betul5|  5|         3|   222|
|Betul10|  9|         2|  3232|
+-------+---+----------+------+

In [107]:
#### any=how
df_pyspark.na.drop(how="all")

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [109]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Betul1|   1|         6| 23232|
| Betul2|   2|         2| 23232|
| Betul3|   3|         4|   443|
| Betul4|   4|         1| 54534|
| Betul5|   5|         3|   222|
| Betul6|   6|         4|  NULL|
|   NULL|   7|         3| 23232|
|   NULL|NULL|        12|  4545|
| Betul9|NULL|         1|  NULL|
|Betul10|   9|         2|  3232|
+-------+----+----------+------+

In [113]:
### threshold (at least 2 values should be not null)
df_pyspark.na.drop(thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Betul1|  1|         6| 23232|
| Betul2|  2|         2| 23232|
| Betul3|  3|         4|   443|
| Betul4|  4|         1| 54534|
| Betul5|  5|         3|   222|
| Betul6|  6|         4|  NULL|
|   NULL|  7|         3| 23232|
|Betul10|  9|         2|  3232|
+-------+---+----------+------+

In [ ]:
#### subset (drop non values from a aspecific columns)
df_pyspark.na.drop(how="any", subset=["Age"]).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Betul1|  1|         6| 23232|
| Betul2|  2|         2| 23232|
| Betul3|  3|         4|   443|
| Betul4|  4|         1| 54534|
| Betul5|  5|         3|   222|
| Betul6|  6|         4|  NULL|
|   NULL|  7|         3| 23232|
|Betul10|  9|         2|  3232|
+-------+---+----------+------+

In [119]:
### Filling the missing values
df_pyspark.na.fill({"Name": "missing values", "Age": 0, "Experience": 0, "Salary": 0}).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|        Betul1|  1|         6| 23232|
|        Betul2|  2|         2| 23232|
|        Betul3|  3|         4|   443|
|        Betul4|  4|         1| 54534|
|        Betul5|  5|         3|   222|
|        Betul6|  6|         4|     0|
|missing values|  7|         3| 23232|
|missing values|  0|        12|  4545|
|        Betul9|  0|         1|     0|
|       Betul10|  9|         2|  3232|
+--------------+---+----------+------+

In [120]:
from pyspark.ml.feature import Imputer

In [128]:
inputCols=["Age", "Experience", "Salary"]
outputCols= [f"{col}_imputed" for col in inputCols]

imputer = Imputer(
    inputCols=inputCols,
    outputCols=outputCols).setStrategy("mean")

df_imputed= imputer.fit(df_pyspark).transform(df_pyspark)
df_imputed.show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
| Betul1|   1|         6| 23232|          1|                 6|         23232|
| Betul2|   2|         2| 23232|          2|                 2|         23232|
| Betul3|   3|         4|   443|          3|                 4|           443|
| Betul4|   4|         1| 54534|          4|                 1|         54534|
| Betul5|   5|         3|   222|          5|                 3|           222|
| Betul6|   6|         4|  NULL|          6|                 4|         16584|
|   NULL|   7|         3| 23232|          7|                 3|         23232|
|   NULL|NULL|        12|  4545|          4|                12|          4545|
| Betul9|NULL|         1|  NULL|          4|                 1|         16584|
|Betul10|   9|         2|  3232|          9|                 2|          3232|
+-------+----+----------+------+-----------+------------------+--------------+