In [31]:
import pyspark
import pandas as pd

from pyspark.sql import SparkSession

In [32]:
ds= pd.read_csv("Jupyter-book.csv")
ds

  Name;Age;Experience
0          Betul1;1;6
1          Betul2;2;2
2          Betul3;3;4
3          Betul4;4;1
4          Betul5;5;3
5          Betul6;6;4
6          Betul7;7;3
7         Betul8;8;12
8          Betul9;9;1
9         Betul10;9;2

In [33]:
spark= SparkSession.builder.appName("Practice").getOrCreate()

In [34]:
spark

### Read the dataset

In [35]:
df_pyspark=spark.read.csv("Jupyter-book.csv", sep=";", header=True, inferSchema=True)

In [36]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Betul1|  1|         6|
| Betul2|  2|         2|
| Betul3|  3|         4|
| Betul4|  4|         1|
| Betul5|  5|         3|
| Betul6|  6|         4|
| Betul7|  7|         3|
| Betul8|  8|        12|
| Betul9|  9|         1|
|Betul10|  9|         2|
+-------+---+----------+

In [37]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.head(3)

[Row(Name='Betul1', Age=1, Experience=6),
 Row(Name='Betul2', Age=2, Experience=2),
 Row(Name='Betul3', Age=3, Experience=4)]

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [40]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [41]:
df_pyspark.select("Name").show()

+-------+
|   Name|
+-------+
| Betul1|
| Betul2|
| Betul3|
| Betul4|
| Betul5|
| Betul6|
| Betul7|
| Betul8|
| Betul9|
|Betul10|
+-------+

In [42]:
df_pyspark.select(["Name", "Age"])

DataFrame[Name: string, Age: int]

In [45]:
df_pyspark["Name"]

Column<'Name'>

In [47]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [49]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|    10|                10|               10|
|   mean|  NULL|               5.4|              3.8|
| stddev|  NULL|2.8751811537130436|3.259175083088084|
|    min|Betul1|                 1|                1|
|    max|Betul9|                 9|               12|
+-------+------+------------------+-----------------+

### Adding columns to dataframe

In [52]:
df_pyspark=df_pyspark.withColumn("Experience after 2 years", df_pyspark["Experience"]+2)

In [53]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience after 2 years|
+-------+---+----------+------------------------+
| Betul1|  1|         6|                       8|
| Betul2|  2|         2|                       4|
| Betul3|  3|         4|                       6|
| Betul4|  4|         1|                       3|
| Betul5|  5|         3|                       5|
| Betul6|  6|         4|                       6|
| Betul7|  7|         3|                       5|
| Betul8|  8|        12|                      14|
| Betul9|  9|         1|                       3|
|Betul10|  9|         2|                       4|
+-------+---+----------+------------------------+

### Drop columns

In [54]:
df_pyspark= df_pyspark.drop("Experience after 2 years")

In [55]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Betul1|  1|         6|
| Betul2|  2|         2|
| Betul3|  3|         4|
| Betul4|  4|         1|
| Betul5|  5|         3|
| Betul6|  6|         4|
| Betul7|  7|         3|
| Betul8|  8|        12|
| Betul9|  9|         1|
|Betul10|  9|         2|
+-------+---+----------+

### Rename columns

In [56]:
df_pyspark = df_pyspark.withColumnRenamed("Name", "New Name").show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Betul1|  1|         6|
|  Betul2|  2|         2|
|  Betul3|  3|         4|
|  Betul4|  4|         1|
|  Betul5|  5|         3|
|  Betul6|  6|         4|
|  Betul7|  7|         3|
|  Betul8|  8|        12|
|  Betul9|  9|         1|
| Betul10|  9|         2|
+--------+---+----------+