In [21]:
import pyspark
import pandas as pd

from pyspark.sql import SparkSession

In [22]:
ds= pd.read_csv("Jupyter-book.csv")
ds

    Name;Age
0   Betul1;1
1   Betul2;2
2   Betul3;3
3   Betul4;4
4   Betul5;5
5   Betul6;6
6   Betul7;7
7   Betul8;8
8   Betul9;9
9  Betul10;9

In [23]:
spark= SparkSession.builder.appName("Practice").getOrCreate()

In [24]:
spark

In [25]:
df_pyspark=spark.read.csv("Jupyter-book.csv", sep=";", header=True, inferSchema=True)

In [26]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
| Betul1|  1|
| Betul2|  2|
| Betul3|  3|
| Betul4|  4|
| Betul5|  5|
| Betul6|  6|
| Betul7|  7|
| Betul8|  8|
| Betul9|  9|
|Betul10|  9|
+-------+---+

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.head(3)

[Row(Name='Betul1', Age=1),
 Row(Name='Betul2', Age=2),
 Row(Name='Betul3', Age=3)]

In [29]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)